.git
.github
.venv
.uv-cache
var
**/node_modules
**/dist
**/.mypy_cache
**/.ruff_cache
**/.pytest_cache
**/__pycache__
**/*.pyc
.env
.env.*
!.env.example
external
products/lidar/data
products/lidar/reports/out
products/lidar/notebooks
docs
tests
apps/api/tests
apps/api/integration_tests
products/lidar/tests
products/transelect/tests
*.md
!README.md
.coverage
htmlcov
